html {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

#myForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    position: absolute;
    width: 500px;
    height: 700px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1em rgb(88, 88, 88);
    border-radius: 30px;
}

.ueberschrift {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: rgb(92, 91, 91);
}

.datum {
  color: rgb(92, 91, 91);
}

.container {
    position: absolute;
    top: 575px;
    left: 30%;
    transform: translate(-50%, -50%);
}

.containe {
  position: absolute;
  top: 581px;
  left: 49%;
}

.btn-2{
background-color: #29d3b7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
}

.btn-2:hover {
  box-shadow: 0 0 1em rgb(88, 88, 88);
  transition: 0.5s ease;
}

/* The container */
.containerforcheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(92, 91, 91);
  }
  
  /* Hide the browser's default radio button */
  .containerforcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .containerforcheck:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .containerforcheck input:checked ~ .checkmark {
    background-color: #29d3b7;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .containerforcheck input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .containerforcheck .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  /* input design */
  div.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 30px;
    border: 1px solid whitesmoke;
    padding: 21px;
    border-radius: 4px;
  }
  h4.title {
    text-align: center;
    margin-bottom: 45px;
  }
  :root {
    --omrs-color-ink-lowest-contrast: rgba(47, 60, 85, 0.18);
    --omrs-color-ink-low-contrast: rgba(60, 60, 67, 0.3);
    --omrs-color-ink-medium-contrast: rgba(19, 19, 21, 0.6);
    --omrs-color-interaction: #29d3b7;
    --omrs-color-interaction-minus-two: rgba(73, 133, 224, 0.12);
    --omrs-color-danger: #b50706;
    --omrs-color-bg-low-contrast: #eff1f2;
    --omrs-color-ink-high-contrast: #121212;
    --omrs-color-bg-high-contrast: #ffffff;
    
  }
  /** END: Non Openmrs CSS **/
  div.omrs-input-group {
    margin-bottom: 1.5rem;
    position: relative;
    width: 20.4375rem;
  }
  
  /* Input*/
  .omrs-input-underlined > input,
  .omrs-input-filled > input {
    border: none;
    border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
    width: 100%;
    height: 2rem;
    font-size: 1.0625rem;
    padding-left: 0.875rem;
    line-height: 147.6%;
    padding-top: 0.825rem;
    padding-bottom: 0.5rem;
  }
  
  .omrs-input-underlined > input:focus,
  .omrs-input-filled > input:focus {
    outline: none;
  }
  
  .omrs-input-underlined > .omrs-input-label,
  .omrs-input-filled > .omrs-input-label {
    position: absolute;
    top: 0.9375rem;
    left: 0.875rem;
    line-height: 147.6%;
    color: var(--omrs-color-ink-medium-contrast);
    transition: top .2s;
  }
  
  .omrs-input-underlined > svg,
  .omrs-input-filled > svg {
    position: absolute;
    top: 0.9375rem;
    right: 0.875rem;
    fill: #29d3b7;
  }
  
  .omrs-input-underlined > .omrs-input-helper,
  .omrs-input-filled > .omrs-input-helper {
    font-size: 0.9375rem;
    color: #29d3b7;
    letter-spacing: 0.0275rem;
    margin: 0.125rem 0.875rem;
  }
  
  .omrs-input-underlined > input:hover,
  .omrs-input-filled > input:hover {
    background: var(--omrs-color-interaction-minus-two);
    border-color: var(--omrs-color-ink-high-contrast);
  }
  
  .omrs-input-underlined > input:focus + .omrs-input-label,
  .omrs-input-underlined > input:valid + .omrs-input-label,
  .omrs-input-filled > input:focus + .omrs-input-label,
  .omrs-input-filled > input:valid + .omrs-input-label {
    top: 0;
    font-size: 0.9375rem;
    margin-bottom: 32px;;
  }
  
  .omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
  .omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
    color: #29d3b7;
  }
  
  .omrs-input-underlined:not(.omrs-input-danger) > input:focus,
  .omrs-input-filled:not(.omrs-input-danger) > input:focus {
    border-color: #29d3b7;
  }
  
  .omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
  .omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
    fill: var(--omrs-color-ink-high-contrast);
  }
  
  /** DISABLED **/
  
  .omrs-input-underlined > input:disabled {
    background: var(--omrs-color-bg-low-contrast);
    cursor: not-allowed;
  }
  
  .omrs-input-underlined > input:disabled + .omrs-input-label,
  .omrs-input-underlined > input:disabled ~ .omrs-input-helper{
    color: #29d3b7;
  }
  
  .omrs-input-underlined > input:disabled ~ svg {
    fill: var(--omrs-color-ink-low-contrast);
  }
  
  
  /** DANGER **/
  
  .omrs-input-underlined.omrs-input-danger > .omrs-input-label, .omrs-input-underlined.omrs-input-danger > .omrs-input-helper,
  .omrs-input-filled.omrs-input-danger > .omrs-input-label, .omrs-input-filled.omrs-input-danger > .omrs-input-helper{
    color: #29d3b7;
  }
  
  .omrs-input-danger > svg {
    fill: var(--omrs-color-danger);
  }
  
  .omrs-input-danger > input {
    border-color: var(--omrs-color-danger);
  }
  
  .omrs-input-underlined > input {
    background: var(--omrs-color-bg-high-contrast);
  }
  .omrs-input-filled > input {
    background: var(--omrs-color-bg-low-contrast);
  }

  @media only screen and (max-width: 860px) {
    html {
      background-color: white;
    }

    .box {
        position: absolute;
        width: 500px;
        height: 700px;
        background-color: white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 30px; 
        box-shadow: none;
    }

    .responsive1 {
      position: absolute;
      left: 50%;
      top: 40%;
      transform: translate(-50%, -50%);
    }

    .btn-2 {
      position: absolute;
      top: 650%;
    }

    .ueberschrift {
      position: absolute;
      top: -290px;
      font-size: 30px;

    }
  }